/* Global setup */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header{
    background-color: black;
    height: 45px;
    position: relative;
}

header img{
    display: inline-block;
    width: 100px;
    position: absolute;
    right: 20px;
    bottom:12px;
}

/* Navbar */


.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
}


#lente {
    width: 27px;
    padding-top: 5px;
}

/* Returnal */

#returnal{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 600px;
}

#returnal .container-fluid .row .col-12{
    color: #ffffff;
    padding-left: 50px;
}

#returnal .container-fluid .row .col-12 img{
    margin-top: 220px;
    width: 50%;
}

#returnal .container-fluid .row .col-12 a{
    text-decoration: none;
    background-color: #cd3d0f;
    color: #ffff;
    border-radius: 30px;
    padding: 8px;
}

#returnal .container-fluid .row .col-12 p{
    padding-top: 50px;
    padding-bottom: 20px;
}



